img {
	width: 100%;
}
.contenter {
	width: 100%;
	padding-top: 12.8%;
	background-color: #f5f5f5;
}
.picp {
	margin-top: 6.6%;
}
.picp1 {
		border-top: 1px solid #c0c0c0;
		border-bottom: 1px solid #c0c0c0;
		}
		.picp1 .pic{
			width: 65%;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			box-sizing:border-box;
			border-right:20px solid #e1e1e1;
			transition:border-color,width 0.5s;
		}
		.picp1 .txt{
			width: 30%;
			padding-left: 4%;
			box-sizing:border-box;
			display: inline-block;
			vertical-align: middle;
			color:#b4b4b4;
			transition:width 0.5s;
		}
		.txt h3 {
			font-size: 3rem;
		}
		.txt p {
			font-size: 1.6rem;
		}
.picp1:hover .pic {
	border-color:#cfdb00;
}
.picp1:hover .pic .pic-color {
	opacity: 1;
	transition:opacity 0.5s;

}
.picp1:hover .txt {
	color:#3c3c3c;
}
.picp1 .pic .pic-color {
	position: absolute;
	left:0;
	top:0;
	opacity: 0;
}
.picp1:nth-child(even):hover .pic {
	border-color: #cfdb00;
}
.picp1:nth-child(even) .txt {
	float: left;
}

.picp1:nth-child(even) {
	border: none;
	/*background-color:red;*/
}
		.picp1:nth-child(even) .pic{
			float: right;
			border-right:0;
			border-left: 20px solid #e1e1e1;
		}
		.picp1:nth-child(even) .txt {
			width: 30%;
			padding-left: 0;
			padding-right:2%;
			float: right;
			margin-top:4%;
		}
@media screen and (max-width: 900px) {
	.picp1 {
		border-top: 0;
	}
	.picp1 .pic,.picp1 .txt {
		width:92%;
		margin:0 4%;
		border-width: 0;
	}
	.picp1 .txt {
		margin: 6% 0;
	}
	.picp1:nth-child(even) .pic {
		border-width: 0;
		width:92%;
		margin:0 4%;
	}
	.picp1:nth-child(even) .txt {
		width:92%;
	}
}