	header {
		height: 68px;
		border-bottom: 1px solid #c0c0c0;
		box-shadow: 0 0 4px #c0c0c0;
	}
	.nav {
		max-width: 1024px;
		margin:0 auto;
		position: relative;	
	}
	.logo {
		float: left;
		width: 16.8%;
		min-width: 120px;
		height: 68px;
		line-height: 68px;
	}
	.nav .logo img {
		padding-top: 3%;
	}
	#navbar {
		float: right;
	}
		.active {
			background-color: #cfdb00;
		}
		#navbar li {
			height: 68px;
			float:left;
			transition:background-color 1s;			
		}
		#navbar li a {
			display: block;
			width: 102px;
			height: 68px;
			text-align: center;
			font-size: 1.4rem;
			line-height: 68px;
			color: #747474;
			text-decoration:none;
		}
	#rightBtn {
		display: none;
		position: absolute;
		right:10px;
		top:10px;
		width:50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: black;
		background-color:#f5f5f5;
	}
		
	h2.lp {
		position: relative;
		width:200px;
		text-align: center;
		height: 40px;
		line-height: 40px;
		margin:0 auto;
		color:#616161;
		font-size: 2.4rem;
	}
	h2.lp:before,h2.lp:after {
		content: "";
		width:60%;
		height: 2px;
		background-color: #cfdb00;
		position: absolute;
		top:19px;
	}
	h2.lp:before {
		right:104%;
	}
	h2.lp:after {
		left:104%;
	}
		
 footer {
	width: 100%;
	text-align: center;
	margin-top: 14%;
 }
 		
	.information {
		width: 60%;
		margin: 10px auto;
		text-align: center;
 		}
	.over {
		width: 100%;
		height: 55px;
		text-align: center;
		background-color: #b4b4b4;
		border-top: 2px solid #cfdb00;
		color: white;
		font-size: 1.2rem;
		line-height: 55px;
	}

@media screen and (max-width: 768px) {
	header .logo {
		margin-left: 4%;
	}
	header .logo img {
		padding-top: 8%;
	}
	header ul {
		display: none;
		float: none;
		width:100%;
		overflow: hidden;
	}
	header ul li {
		float: none;
	}
	header ul li a {
		width:100%;
	}
	#rightBtn {
		display: block;
	}
}
@media screen and (max-width: 480px) {

	h2.lp:before,h2.lp:after {
		width:24%;
	}
	
	footer .over {
		font-size:1.8rem;
	}
}